<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>KontoSystem</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<div align="center">

    <h1> TODO. Some kind of menu?</h1>
    <td> <a th:href="@{signup}" class="btn btn-primary">Register an account</a></td>

    <td> <a th:href="@{login}" class="btn btn-primary">Log in</a></td>

    <td> <a th:href="@{users}" class="btn btn-primary">User list</a></td>


</div>
</body>
</html>