<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org">
<head>
    <meta charset="UTF-8">
    <title>KontoSystem</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
</head>
<body>
<h1>Felmeddelande</h1>
<p>Tyvärr, angiven e-postadress är upptagen.</p>
<td> <a th:href="@{signup}" class="btn btn-primary">Return to Sign up</a></td>
<td> <a th:href="@{/}" class="btn btn-primary">Return to start</a></td>

</body>
</html>